<body>
<div id="image">
    <div class="container ">
        <div class="row">
            <div class="col-md-3 bg-white mt-5 card">
                <h1>FACILITY</h1>
                <p>Facilities Managers that understand data types and asset categories can streamline facilities management. This is achieved by assigning peers to oversee assets and manage repairs, giving the Facility Manager the opportunity to visit other sites and manage more facilities.
                </p>
            </div>
            <div class="col-md-6 bg-white mt-5 card">
                <h1>AVALABILITY</h1>
                <p>Every company wants its equipment to work as much as possible. After all, when equipment is running, money is being made. That’s why improving asset availability is so crucial to production facilities. Maintenance teams can play a huge role in increasing availability and ensuring the success of an organization. When unplanned downtime strikes, failure codes allow technicians to respond quickly, troubleshoot better, and get an asset up and running sooner. 
                </p>
            </div>
            <div class="col-md-3 bg-white mt-5 card">
                <h1>MAINTAIN</h1>
                <p>Maintainability measures the ability to maintain or restore a piece of equipment to its functioning state. It calculates how easy it is to identify problems with a system and solve the problem. Because maintainability impacts the length of downtime for an asset, it also has a direct impact.

                </p>
            </div>
        </div>
    </div><br>
    <div class=" col-md-6 container card  bg-light" style="border: blue;">
        <h1>CONTACT US BELOW </h1>
        <td> 8907658765</td>
        <td> 9675476587</td>
        <h1>EMAIL ID</h1>
        <td>abc@xyz.com</td>
        <td>ouy@uiy.com</td>

    </div>
</div>
</body>