td, th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}

th {
  background-color: #4CAF50;
  color: white;
}

tr:hover {
  background-color:#007bff;
  color:white;
}

tr{
  background-color:white;
  color:black;
}
body{ 
  background-image: url('https://media.istockphoto.com/photos/businessman-working-with-financial-report-charts-business-analytics-picture-id1199010148?b=1&k=6&m=1199010148&s=170667a&w=0&h=KIaNeNAwqNQbVTuYjMVfabvPu-odZNlXuWPj-LguAsM=');
  background-repeat: no-repeat;
  background-attachment: fixed; 
  background-size: 100% 100%;
  width:1366px;height:569px;
}
button{
  background-color:cyan;
  color:black;
}
h1{
  color:white;
  padding-top: 20px;
  text-align:center;
}